<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
</head>
<body>
    {% include 'buyer/user_navebar.html' %}
    <h2>Order Details - ID #{{ order.id }}</h2>

    <p><strong>Status:</strong> {{ order.status }}</p>
    <p><strong>Total Price:</strong> ₹{{ order.total_price }}</p>
    <p><strong>Discount Applied:</strong> ₹{{ order.discount_applied }}</p>
    <p><strong>Final Price:</strong> ₹{{ order.final_price }}</p>
    <p><strong>Payment Method:</strong> {{ order.payment_method }}</p>
    <p><strong>Expected Delivery:</strong> {{ order.expected_delivery_date }}</p>

    <h3>Payment Info</h3>
    {% for payment in payments %}
        <p>Payment Method: {{ payment.payment_method }}</p>
        <p>Status: {{ payment.status }}</p>
        <p>Transaction ID: {{ payment.transaction_id }}</p>
        <p>Amount Paid: ₹{{ payment.amount_paid }}</p>
        <hr>
    {% empty %}
        <p>No payment details found.</p>
    {% endfor %}
</body>
</html>
